<?xml version="1.0" ?>
<!-- Purpose: Gazebo model metadata for mobilerobot_world. -->
<model>
    <name>mobilerobot_world</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
